<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taste.module.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.taste.module.codegroup.CodeGroupDto"></resultMap>
	
	<sql id="selectCommon">
		FROM codegroup a
		WHERE 1=1
	</sql>
	
	<sql id="selectCommonColumn">
			a.ifcgseq,
			a.ifcgUseNy,
			a.ifcgCode,
			a.ifcgName,
			a.ifcgAnotherCode,
			a.ifcgDelNy
	</sql>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"/>
	</select>		
	  
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		<include refid="selectCommon"/>
			
		ORDER BY a.ifcgseq DESC	
	</select>	
	
	<insert id="insert">
	INSERT INTO codegroup(
		ifcgUseNy,
		ifcgCode,
		ifcgName,
		ifcgAnotherCode,
		ifcgDelNy
	) values(
		#{ifcgUseNy},
	    #{ifcgCode},
	    #{ifcgName},
	    #{ifcgAnotherCode},
	    #{ifcgDelNy}
	)	
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			<include refid="selectCommonColumn"/>
		<include refid="selectCommon"/>
		AND a.ifcgseq=#{ifcgseq}
	</select>

	  
</mapper>