<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taste.module.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.taste.module.codegroup.CodeGroupDto"></resultMap>
	  
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			ifcgseq,
			ifcgUseNy,
			ifcgCode,
			ifcgName,
			ifcgAnotherCode,
			ifcgDelNy
		FROM
		    codeGroup
		WHERE 1=1	
			
		ORDER BY ifcgseq DESC	
	</select>	
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			ifcgseq,
			ifcgUseNy,
			ifcgCode,
			ifcgName,
			ifcgAnotherCode,
			ifcgDelNy
		FROM
			codeGroup
		WHERE 1=1
		AND ifcgseq=#{ifcgseq}
	</select>

	  
</mapper>