<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taste.infra.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.a5a5lab.fapp.group1.Group1Dto"></resultMap>
	  
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			ifcgseq,
			ifcgUseNy,
			ifcgCode,
			ifcgName,
			ifcgAnotherCode,
			ifcgDelNy
		FROM
		    codeGroup
		WHERE 1=1	
			AND delNy = 0	
		ORDER BY seq DESC	
	</select>	
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			ifcgseq,
			ifcgUseNy,
			ifcgCode,
			ifcgName,
			ifcgAnotherCode,
			ifcgDelNy
		FROM
			codeGroup
		WHERE 1=1
		AND ifcgseq=#{ifcgseq}
	</select>
	
	<insert id="insert">
		INSERT INTO codeGroup
		(
			ifcgName
		)
		VALUES
		(
			#{ifcgName}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>	
	
	 
	 <update id="update">
	 	UPDATE codeGroup SET
	 		ifcgName=#{ifcgName}
	 	WHERE ifcgseq=#{ifcgseq}	
	 </update>	
	 
	 <delete id="delete">
		 DELETE FROM codeGroup
		 where ifcgseq=#{ifcgseq}
	 </delete>
	 
	 <update id="uelete">
	 	UPDATE codeGroup SET
	 		delNy=1
	 	WHERE ifcgseq=#{ifcgseq}	
	 </update>
	  
</mapper>